---
layout: default
---

h1 Cookies and Privacy

p This website uses the following third-party services that create cookies during browsing:

ul
  li
    a(href="http://carbonads.net/") Carbon Ads
  li
    a(href="http://disqus.com") Disqus
  li
    a(href="http://facebook.com") Facebook
  li
    a(href="http://google.com/") Google+
  li
    a(href="http://twitter.com") Twitter

h2 Disabling Cookies

p If you do not wish to store cookies from this website, then change your browser's settings to block them.
