footer
  p.copyright Content &copy; <strong>usevim</strong> | By the creators of <a href="http://dailyjs.com/">DailyJS</a> | Site source: <a href="https://github.com/alexyoung/usevim">GitHub: alexyoung / usevim</a> | <a href="http://glyphicons.com/">Glyphicons</a>
