header#header
  hgroup
    h1
      a(href="/") #{site.config.title}
    h2 Vim links, plugins, screenshots, tutorials, and themes
.subnav
  ul.nav.nav-pills
    li
      a.active(href="/") Home
    li
      a(href="/contact.html") Contact
    li
      a(target="_blank", href="http://feeds.feedburner.com/usevim") Subscribe

