#sidebar
  ul
    li
      #carbonads-container
        .carbonad
          #carbon
          script.
            var z = document.createElement("script");
            z.type = "text/javascript";
            z.async = true;
            z.src = "http://engine.carbonads.com/z/15515/carbon_2_1_0_VERT";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(z, s);
    li.itemlist
      h3 Search
      form(class="navbar-search", action="http://www.google.com/search", method="get")
        input(name="sitesearch", type="hidden", value="usevim.com")
        input(type="text", class="search-query", name="q", placeholder="Search")
    li.itemlist
      h3 Subscribe
      ul.subscribe
        li.links
          a.social-button(href="http://twitter.com/vimnews")
            img(src="/images/icons/twitter.png", alt="Twitter")
          a.social-button(href="https://plus.google.com/102329700005777172238")
            img(src="/images/icons/google.png", alt="Google+")
          a.social-button(href="https://www.facebook.com/vimnews")
            img(src="/images/icons/facebook.png", alt="Facebook")
          a.social-button(href="http://feeds.feedburner.com/usevim")
            img(src="/images/icons/feed.png", alt="Feed")
          a.social-button(href="http://feedburner.google.com/fb/a/mailverify?uri=usevim&amp;loc=en_US")
            img(src="/images/icons/mail.png", alt="Email")
    li.itemlist.staff
      h3 Staff
      ul
        li
          h4 Editor-in-Chief
          .twitter
            a(href="http://twitter.com/#!/alex_young")
              img(width="48", height="48", src="/images/twitter/alex_young.png", alt="Alex R. Young")
              span.meta
                strong.fullname Alex R. Young
                <br/><s>@</s>alex_young
          h4 Proof-Reading
          .twitter
            a(href="http://twitter.com/#!/YukaYoung")
              img(width="48", height="48", src="/images/twitter/YukaYoung.png", alt="Alex R. Young")
              span.meta
                strong.fullname Yuka Young
                <br/><s>@</s>YukaYoung
